<launch>
    <arg name="dso_image_topic"     default="/ardrone/front/image_color" /> 
    <arg name="calibration_file"    default="$(find dso_ros)/config/ardrone_front.cfg" /> 
    <arg name="gamma"               default="$(find dso_ros)/config/pcalib.txt " /> 
    <arg name="vignette"            default="$(find dso_ros)/config/vig001.pgm " /> 

    <!-- Start the mpc node   -->
    <node pkg="dso_ros" type="dso_live" name="dso_live" 
        args="calib=$(arg calibration_file) gamma=$(arg gamma) vignette=$(arg vignette)"
        output="screen" >
        <param name="dso_image_topic"           value="$(arg dso_image_topic)" />
    </node>

</launch>
